.header {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 96, 165);
    max-width: 50%;
    min-height: 3%;
    text-align: center;

}

.demo-table {



    min-width: 50%;
    height: 1%;
    margin-left: 0%;
    margin-right: auto;
    margin-top: 1%;



}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {

    color: rgb(255, 255, 255);
    background-color: rgb(56, 96, 165);
    border-left: 1px solid transparent;
    border-color: rgb(255, 255, 255);




}

.mat-mdc-table thead {

    background-color: rgb(56, 96, 165);
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-color: black;

}

a {
    text-decoration: none;
    color: rgb(81, 101, 214);
}