.demo-table {
  table-layout: flex;
  min-width: 100%;
  max-width: 100%;


  tr.mat-header-row {
    background-color: #00072ae1;
  }

  tr:nth-child(even) {
    background-color: #dadada;
  }

  tr:nth-child(odd) {
    background-color: #fbfbfb;
  }
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  height: 60px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: rgb(69, 127, 236);
}

.demo-row-is-clicked {
  font-weight: bold;
}

.position {
  display: flex;
  height: 60px;
}